/.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
init_db.py
/.vscode/
.idea/
.DS_Store
env/
ENV/
.env
*.sqlite3
*.log
dist/
build/
coverage/
.pytest_cache/
*.egg-info/
pip-wheel-metadata/
htmlcov/
/.mypy_cache/
